/* @global reset */
body,div, dd, h1,h2,h3,h4,h5,h6,p,ul,ol,li,blockquote,form,input,img,dl { margin:0; padding:0; }
ul { list-style:none; }

body {
    font: 14px/150% Arial,Verdana,"宋体b8b\4f53";
    color: #333;
}

a {
    color: #00C;
}

/* @general sytles */
.hide { display:none; }
.fleft { float: left; }
.error { color:red; }
.clear { clear: both;}
.ovhd { overflow:hidden; }
.clear {
    clear: both;
}

/*text-panel: for pages with few text*/
.text-panel {
    font-size:16px;
    text-align:center;
    padding-top:7em;
}

/* @simple modal dialog */
#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {
    padding: 20px;
    background-color:#fff;
    border-radius:4px;
    -moz-border-radius:4px;
}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 { margin:0; }
.dialog-note { background:#FDF; margin:10px 0; border:1px solid #faf; padding-left:2px; }
.simplemodal-data p {
    margin-bottom:3px;
}

/* top banner */
#top {
    overflow: hidden;
    border-bottom: 1px solid #EBEBEB;
}

/* logo */
div#logo {
    float: left;
    width: 200px;
    padding: 10px 5px 5px 10px;
}

div#logo a {
    font-size: 1.3em;
    text-decoration: none;
    color: #4A5ED3;
}

ul#navlinks {
}

ul#navlinks li {
    display: inline;
    float: left;
    margin: 0;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

ul#navlinks a {
    text-decoration: none;
    color: #168092;
}

ul#navlinks a:hover {
    text-decoration: underline;
}

/* home page */
#home-main {
    width: 550px;
    margin: 0 auto;
    margin-top: 100px;
}

#home-main .main-logo {
    font-size: 2em;
    margin-bottom: 50px;
    text-align: center;
    color: #00B;
}

#home-main span.logo-eng {
    font-size: 14px;
    padding-left: 20px;
}

#home-main #search-tip {
    color: gray;
    margin-bottom: 5px;
    text-align: left;
}

#home-main #keyword-wrapper {
    display: inline-block;
    width: 422px;
    height: 32px;
    border: 2px solid #CDCDCD;
    border-color: #9A9A9A #CDCDCD #CDCDCD #9A9A9A;
    background: white;
}

#home-main #keyword {
    width: 402px;
    height: 24px;
    margin-top: 5px;
    padding: 0 10px;
    border: 0;
    outline: 0;
    font-size: 16px;
    line-height: 24px;
}

#home-main #search-btn {
    width: 98px;
    height: 36px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
    vertical-align: top;
}

/* Search page */
#search-body {
    overflow-y: scroll;
}

#search-main {
    padding: 20px;
    position: relative;
}

#search-main #site-tabs {
    width: 700px;
}

#search-main #search-form {
}

#search-main #keyword-wrapper {
    display: inline-block;
    width: 422px;
    height: 32px;
    border: 2px solid #CDCDCD;
    border-color: #9A9A9A #CDCDCD #CDCDCD #9A9A9A;
    background: white;
}

#search-main #keyword {
    width: 402px;
    height: 24px;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 16px;
    line-height: 24px;
    border: 0;
    outline: 0;
}

#search-main #search-btn {
    width: 98px;
    height: 36px;
    vertical-align: top;
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* sort */
div#sort {
    float: right;
    margin-right: 100px;
    margin-top: 10px;
    font-size: 15px;
}

/* tabs */
#site-tabs {
    padding:0;
    border:0;
    margin-top: 15px;
}

#site-tabs .ui-tabs-nav {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 17px;
}

#site-tabs .ui-tabs-panel {
    padding: 0;
}

#site-tabs .ui-widget-header {
    border: none;
}

#site-tabs li.ui-tabs-selected a {
    font-weight: bold;
}

.results-list {
    background: url(../img/left_menu_bg.png) repeat-x;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
}

.results-list a {
    color: #1A66B3;
    text-decoration: none;
    font-family: "宋体";
}

.results-list a:hover {
    text-decoration: underline;
}

/* book item */
.book-item {
    margin-bottom: 13px;
    margin-top: 13px;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
}

.book-img-wrapper {
    float: left;
    width: 150px;
    height: 150px;
    border: 1px solid #DDD;
}

.book-img-wrapper a {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.book-img {
    margin: 0 auto;
    border: none;
}

/* book detail */
div.book-detail {
    float: right;
    width: 500px;
}

div.book-detail p.book-name {
    font-size: 16px;
    margin-bottom: 5px;
}

div.book-detail p.book-review {
    line-height: 14px;
}

div.book-detail p.book-describe {
    color: #878787;
    font-size: 12px;
    max-height: 4em;
    line-height: 2em;
    overflow: hidden;
    margin-bottom: 8px;
}

div.book-detail td.book-property {
    text-align: left;
}

div.pagin-bottom {
    margin-top: 20px;
    background-color: #EEE;
}

div.pagin-bottom p {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
}

.page-info {
    display: inline-block;
    margin: auto 20px;
}

.loading-img-wrapper {
    width: 300px;
    height: 300px;
    vertical-align: top;
}

#bdshare {
    position: absolute;
    top: 15px;
    right: 100px;
}

#right-panel {
    position: absolute;
    width: 200px;
    right: 100px;
    top: 39px;
}

#search-history {
    padding: 10px;
    background: url(../img/left_menu_bg.png) repeat-x;
}

#search-history p.title {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 15px;
}

#search-history ul {
    margin-top: 5px;
    margin-left: 10px;
}

/* feedback page */
#feedback-main {
    width: 600px;
    margin: 0 auto;
}

#feedback-form {
    margin-top: 50px;
    font-size: 1.2em;
}

#feedback-form p {
    margin-bottom: 10px;
}

#feedback-form label {
    float: left;
    clear: left;
    width: 150px;
    font-weight: bold;
}

#feedback-form textarea {
    padding: 0;
    margin: 0;
    border: 1px solid gray;
}

#feedback-form #submit {
    margin-left: 150px;
    background-color: #CBD893;
    font-size: 1em;
    padding: 3px;
    font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
}

/* Feedback list page */
div#feedback-list-main {
    width: 700px;
    margin: 50px auto;
}

#feedback-list li {
    margin-bottom: 10px;
}

/* Best-seller page */
#bestseller-main {
    width: 700px;
    padding: 20px;
}

#bestseller-main div.book-detail {
    width: 450px;
}

#bestseller-title {
    padding-left: 3px;
    min-height: 36px;
}

#bestseller-title li {
    display: inline;
    float: left;
    margin-right: 10px;
    padding: 3px 10px;
    cursor: pointer;
    background-color: #CCC;
    font-size: 20px;
}

#bestseller-title a {
    text-decoration: none;
}

#bestseller-title a:hover {
    text-decoration: underline;
}

#bestseller-title li.cur {
    background-color: #2BA3D8;
    color: white;
}

#bestseller-main div.rank-wrapper {
    float: left;
    width: 20px;
    display: inline;
    font-size: 18px;
}