<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ template "title" . }} - 搜书网 - 当当、京东、亚马逊 一起搜</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="网上书店 搜索 当当 京东 亚马逊" />

    <link rel="stylesheet" type="text/css" href="{{ g `STATIC_ROOT` }}css/ui-lightness/jquery-ui-1.8.16.custom.css" />
    <!-- <link rel="stylesheet" type="text/css" href="http://lib.sinaapp.com/js/jquery-ui/1.8.9/themes/base/jquery-ui.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{ g `STATIC_ROOT` }}css/custom.css" />
    {{ template "css" . }}
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35076941-2']);
    _gaq.push(['_trackPageview']);
    
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
</head>

<body {{ template "body-attr" . }}>
    <div id="top">
        <div id="logo">
            <a href="{{ g `SITE_ROOT` }}"><span class="logo-eng">BookLove.Me</span>&nbsp;&nbsp搜&nbsp;&nbsp;书&nbsp;&nbsp;网</a>
            <span class="logo-eng"></span>
        </div>
        <ul id="navlinks">
            <li><a href="{{ g `SITE_ROOT` }}feedback">意见反馈</a></li>
            <li><a href="{{ g `SITE_ROOT` }}bestseller">书店畅销榜</a></li>
        </ul>
    </div>

    {{ template "main" . }}

<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery-ui/1.8.9/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ g `STATIC_ROOT` }}js/jquery.simplemodal.1.4.1.min.js"></script>
{{ template "scripts" . }}

</body>
</html>
