{{ define "title"}} 各大书店排行榜 {{ end }}
{{ define "css" }}{{ end }}
{{ define "body-attr" }}{{ end }}

{{ define "main" }}
<div id="bestseller-main">
    <ul id="bestseller-title">
        {{ if .kind|not }}
        <li class="cur"><a href="{{ g `SITE_ROOT`}}bestseller">本月畅销榜</a></li>
        {{ else }}
        <li><a href="{{ g `SITE_ROOT`}}bestseller">本月畅销榜</a></li>
        {{ end }}
        
        {{ if eq .kind `weekly` }}
        <li class="cur"><a href="{{ g `SITE_ROOT`}}bestseller?kind=weekly">本周畅销榜</a></li>
        {{ else }}
        <li><a href="{{ g `SITE_ROOT`}}bestseller?kind=weekly">本周畅销榜</a></li>
        {{ end }}
        
        {{ if eq .kind `daily` }}
        <li class="cur"><a href="{{ g `SITE_ROOT`}}bestseller?kind=daily">24小时畅销榜</a></li>
        {{ else }}
        <li><a href="{{ g `SITE_ROOT`}}bestseller?kind=daily">24小时畅销榜</a></li>
        {{ end }}
        <br class="clear" />
    </ul>
    <div id="site-tabs" class="hide">
        <ul>
            <li><a href="#bestseller-dangdang" onfocus="this.blur()">当当</a></li>
            <li><a href="#bestseller-360buy" onfocus="this.blur()">京东</a></li>
            <li><a href="#bestseller-amazon" onfocus="this.blur()">亚马逊</a></li>
        </ul>

        <div id="bestseller-dangdang">
            {{ if .dangdang }}
            <ul class="results-list">
                {{ range .dangdang }}
                {{ template "bestseller-item" . }}
                {{ end }}
            </ul>
            {{ else }}
            <p class="text-panel">出错了...</p>
            {{ end }}
        </div>

        <div id="bestseller-360buy">
            {{ if .jingdong }}
            <ul class="results-list">
                {{ range .jingdong }}
                {{ template "bestseller-item" . }}
                {{ end }}
            </ul>
            {{ else }}
            <p class="text-panel">出错了...</p>
            {{ end }}
        </div>
        
        <div id="bestseller-amazon">
            {{ if .amazon }}
            <ul class="results-list">
                {{ range .amazon }}
                {{ template "bestseller-item" . }}
                {{ end }}
            </ul>
            {{ else }}
            <p class="text-panel">出错了...</p>
            {{ end }}
        </div>
    </div>
</div>

<!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
    <span class="bds_more">分享到：</span>
    <a class="bds_qzone"></a>
    <a class="bds_tsina"></a>
    <a class="bds_tqq"></a>
    <a class="bds_renren"></a>
    <a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=2758442" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<!-- Baidu Button END -->

{{ end }}

{{ define "bestseller-item" }}
<li class="book-item">
    <div class="rank-wrapper">
        <span>{{ .rank }}</span>
    </div>
    <div class="book-img-wrapper">
        <a href="{{ .book_url }}" target="_blank">
            <img class="book-img" src="{{ .book_img }}" />
        </a>
    </div>
    <div class="book-detail">
        <p class="book-name">
            <a href="{{ .book_url }}" target="_blank">{{ .name }}</a>
        </p>
        <p class="book-review">
            {{ if .review_url }}
                <a class="review-link" href="{{ .review_url }}" title="点击查看评论" target="_blank">{{ .reviews }} 条评论</a>
            {{ end }}
        </p>

        {{ if .describe }}
        <p class="book-describe">
            {{ .describe }}
        </p>
        {{ end }}

        <table class="book-properties">
            {{ if .author }}
            <tr>
                <td class="book-property">作者：</td>
                <td>{{ .author }}</td>
            </tr>
            {{ end }}

            {{ if .press }}
            <tr>
                <td class="book-property">出版社：</td>
                <td>{{ .press }}</td>
            </tr>
            {{ end }}

            {{ if .pub_date }}
            <tr>
                <td class="book-property">出版日期：</td>
                <td>{{ .pub_date }}</td>
            </tr>
            {{ end }}

            {{ if .market_price }}
            <tr>
                <td class="book-property">市场价：</td>
                <td><strike>{{ .market_price }}</strike></td>
            </tr>
            {{ end }}

            {{ if .store_price }}
            <tr>
                {{ if eq $.site "360buy" }}
                <td class="book-property">京东价：</td>
                <td>
                    {{ .store_price }}
                    {{ if .discount }}
                    <span class="discount">({{ .discount }} 折)</span>
                    {{ end }}
                </td>
                {{ end }}
                
                {{ if eq $.site "dangdang" }}
                <td class="book-property">当当价：</td>
                <td>
                    {{ .store_price }}
                    {{ if .discount }}
                    <span class="discount">({{ .discount }} 折)</span>
                    {{ end }}
                </td>
                {{ end }}
                
                {{ if eq $.site "amazon" }}
                <td class="book-property">亚马逊价：</td>
                <td>
                    {{ .store_price }}
                    {{ if .discount }}
                    <span class="discount">({{ .discount }} 折)</span>
                    {{ end }}
                </td>
                {{ end }}
            </tr>
            {{ end }}
        </table>
    </div>
</li>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript">
$('#site-tabs').tabs();
$('#site-tabs').removeClass('hide');
</script>
{{ end }}

