{{ define "title"}} 意见反馈 {{ end }}
{{ define "css" }}{{ end }}
{{ define "body-attr" }}{{ end }}

{{ define "main" }}
<div id="feedback-main">
    <form id="feedback-form" method="POST">
        <p class="tip">(您也可以直接邮件联系 <a href="mailto:hello@booklove.me">hello@booklove.me</a>)</p>
        <p>
            <label for="suggestion">您的意见或建议：</label>
            <textarea name="suggestion" cols="35" rows="4" id="suggestion"></textarea>
        </p>
        <p>
            <label for="email">您的邮箱:</label>
            <input type="text" name="email" id="email" maxlength="256" />
        </p>
        <p>
            <input type="submit" id="submit" value="提交" class="submit"/>
        </p>
    </form>

    <div id="error-dlg" class="hide">
        <p class="message"></p>
        <br/>
    </div>
    
    <div id="success-dlg" class="hide">
        <p>您的建议已经被记录，感谢您的热心和耐心 :)</p>
        <br/>
    </div>
</div>

{{ end }}

{{ define "scripts" }}
<script type="text/javascript">
$('#submit').click(function() {
    var self = $(this);
    var email = $('#email').val();
    if (!email) {
        $('p.message').html('请输入邮箱地址');
        $('#error-dlg').modal({appendTo:'#feedback-main'});
        return false;
    } else if (!/.*@.*/.test(email)) {
        $('p.message').html('邮箱地址不正确');
        $('#error-dlg').modal({appendTo:'#feedback-main'});
        return false;
    }
    var suggestion = $('#suggestion').val();
    if (!suggestion) {
        $('p.message').html('请输入您的建议');
        $('#error-dlg').modal({appendTo:'#feedback-main'});
        return false;
    }

    self.attr("disabled", "disabled");
    $.ajax({
        url: "{{ g `SITE_ROOT` }}feedback",
        type: 'POST',
        cache: 'false',
        data: {
            email: email,
            suggestion: suggestion
        },
        success: function(data) {
            $('#success-dlg').modal({appendTo:'#feedback-main'});
            setTimeout(function() {
                location.href = "{{ g `SITE_ROOT` }}";
            }, 1500);
        },
        error: function(data, textStatus, jqXHR) {
            self.removeAttr("disabled");
            $('p.message').html('出错啦 :(');
            $('#error-dlg').modal({appendTo:'#feedback-main'});
        }
    });

    return false;
});
</script>
{{ end }}
