{{ define "title"}}{{ end }}
{{ define "css" }}{{ end }}
{{ define "body-attr" }}{{ end }}

{{ define "main" }}
<div id="home-main">
    <div class="main-logo">
        <p>
            搜&nbsp;&nbsp;书&nbsp;&nbsp;网
            <span class="logo-eng">BookLove.Me</span>
        </p>
    </div>

    <form id="search-form" method="GET" action="{{ g `SITE_ROOT` }}search">
        <div id="search-tip">
            <p>要找书？ 当当、京东、亚马逊，一起搜！</p>
        </div>
        <div id="keyword-wrapper">
            <input type="text" id="keyword" name="keyword" maxlength="140" placeholder="请输入要搜索的书名" autocomplete="off" title="请输入要搜索的书名" />
        </div>
        <input type="submit" id="search-btn" value="搜 索" />
    </form>
</div>
{{ end }}

{{ define "scripts" }}
{{ end }}
