{{ define "title"}} 所有意见反馈 {{ end }}
{{ define "css" }}{{ end }}
{{ define "body-attr" }}{{ end }}

{{ define "main" }}
<div id="feedback-list-main">
    <div id="content">
    {{ if . }}
    <ul id="feedback-list">
        {{ range . }}
        <li>
            <p>来自：{{ .Email }}</p>
            <p>时间：{{ .Timestamp }}</p>
            <div class="suggestion">
                <p>{{ .Suggestion }}</p>
            </div>
        <li>
        {{ end }}
    </ul>
    {{ else }}
    <p>现在还没有反馈</p>
    {{ end }}
    </div>
</div>

{{ end }}

{{ define "scripts" }}{{ end }}
