{{ if .books|len|not }}
    {{ if eq .pageNumber 1 }}
    <p class="text-panel">在 {{ .site }} 上没有找到 "{{ trim .keyword 36 }}" 的相关搜索结果</p>
    {{ else }}
    <p>没有更多的关于 <strong>{{ trim .keyword 36 }}</strong> 的搜索结果了</p>
    {{ end }}
{{ else }}

<ul class="results-list">
{{ range .books }}
<li class="book-item">
    <div class="book-img-wrapper">
        <a href="{{ .book_url }}" target="_blank">
            <img class="book-img" src="{{ .book_img }}" />
        </a>
    </div>
    <div class="book-detail">
        <p class="book-name">
            <a href="{{ .book_url }}" target="_blank">{{ .name }}</a>
        </p>
        <p class="book-review">
            {{ if eq $.site "amazon" }}
                {{ if .stars_url }} <img src="{{ .stars_url }}" alt="{{ .stars }}" title="{{ .stars }}" /> {{ end }}
            {{ else }}
                {{ range .allstars }}
                <img src="http://searchb.dangdang.com/project/search_v3/hosts/images/star_all.png" />
                {{ end }}
                {{ range .halfstars }}
                <img src="http://searchb.dangdang.com/project/search_v3/hosts/images/star_half.png" />
                {{ end }}
                {{ range .nonestars }}
                <img src="http://searchb.dangdang.com/project/search_v3/hosts/images/star_none.png" />
                {{ end }}
            {{ end }}

            {{ if .review_url }}
                &nbsp;&nbsp;
                <a class="review-link" href="{{ .review_url }}" title="点击查看评论" target="_blank">{{ .reviews }} 条评论</a>
            {{ end }}
        </p>

        {{ if .describe }}
        <p class="book-describe">
            {{ .describe }}
        </p>
        {{ end }}

        <table class="book-properties">
            {{ if .author }}
            <tr>
                <td class="book-property">作者：</td>
                <td>
                    {{ range .authors }}
                    {{ if .IsLink }}<a href="{{ g `SITE_ROOT` }}search?keyword={{ .Text }}">{{.Text}}</a>{{ else }}{{.Text}}{{ end }}
                    {{ end }}
                </td>
            </tr>
            {{ end }}

            {{ if .press }}
            <tr>
                <td class="book-property">出版社：</td>
                <td>{{ .press }}</td>
            </tr>
            {{ end }}

            {{ if .pub_date }}
            <tr>
                <td class="book-property">出版日期：</td>
                <td>{{ .pub_date }}</td>
            </tr>
            {{ end }}

            {{ if .market_price }}
            <tr>
                <td class="book-property">市场价：</td>
                <td><strike>{{ .market_price }}</strike></td>
            </tr>
            {{ end }}

            {{ if .store_price }}
            <tr>
                {{ if eq $.site "360buy" }}
                <td class="book-property">京东价：</td>
                <td>
                    <img src="{{ .store_price }}" />
                    {{ if .discount }}
                    <span class="discount">({{ .discount }} 折)</span>
                    {{ end }}
                </td>
                {{ end }}
                
                {{ if eq $.site "dangdang" }}
                <td class="book-property">当当价：</td>
                <td>
                    {{ .store_price }}
                    {{ if .discount }}
                    <span class="discount">({{ .discount }} 折)</span>
                    {{ end }}
                </td>
                {{ end }}
                
                {{ if eq $.site "amazon" }}
                <td class="book-property">亚马逊价：</td>
                <td>
                    {{ .store_price }}
                    {{ if .discount }}
                    <span class="discount">({{ .discount }} 折)</span>
                    {{ end }}
                </td>
                {{ end }}
            </tr>
            {{ end }}
        </table>
    </div>
</li>
{{ end }}
</ul>
{{ end }}

{{ if .hasPaginator }}
<div class="pagin-bottom">
    <p>
        <span>
            <button class="page-prev"
                    {{ if .prevPageUrl|not }}
                    disabled="disabled"
                    {{ else }}
                    data="{{ .prevPageUrl }}"
                    {{ end }}>
                &lt;&lt;&nbsp;&nbsp;上一页
            </button>
        </span>
        <span class="page-info" total="{{ .totalPageNumber }}">当前显示第&nbsp;&nbsp;<strong>{{ .pageNumber }}{{ if .totalPageNumber }} / {{ .totalPageNumber }}{{ end }}</strong>&nbsp;&nbsp;页</span>
        <span>
            <button class="page-next"
                    {{ if .nextPageUrl|not }}
                    disabled="disabled"
                    {{ else }}
                    data="{{ .nextPageUrl }}"
                    {{ end }}>
                下一页&nbsp;&nbsp;&gt;&gt;
            </button>
        </span>
    </p>
</div>
{{ end }}
