{{ define "title"}} {{ .keyword }} {{ end }}
{{ define "css" }}{{ end }}
{{ define "body-attr" }}id="search-body"{{ end }}

{{ define "main" }}
<!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
    <span class="bds_more">分享到：</span>
    <a class="bds_qzone"></a>
    <a class="bds_tsina"></a>
    <a class="bds_tqq"></a>
    <a class="bds_renren"></a>
    <a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=2758442" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<!-- Baidu Button END -->

<div id="search-main">
<div id="right-panel">
    {{ if .history }}
    <div id="search-history">
        <p class="title">搜索历史</p>
        <ul>
            {{ range .history }}
            <li>
                <a href="{{ g `SITE_ROOT` }}search?keyword={{ .|urlquery }}" title="{{.}}">{{ trim . 24 }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</div>
    
<div>
<form id="search-form" method="GET" action="{{ g `SITE_ROOT` }}search">
    <span id="keyword-wrapper">
        <input type="text" id="keyword" name="keyword" maxlength="140" placeholder="请输入要搜索的书名或作者" autocomplete="off" title="请输入要搜索的书名或作者" value="{{ .keyword }}"/>
    </span>
    <input type="submit" id="search-btn" value="搜 索" />
</form>

<div id="site-tabs" class="hide">
    <div id="sort">
        <form method="GET" action="{{ g `SITE_ROOT` }}search" >
            <label>排序：</label>
            <input type="hidden" name="keyword" value="{{ .keyword }}" />
            <select class="sortByDropdown" name="sort" id="sort" onchange="this.form.submit()" >
                {{ if eq .sort "default"}}
                <option value="default" selected="true">相关度</option>
                {{ else }}
                <option value="default">相关度</option>
                {{ end }}

                {{ if eq .sort "sales"}}
                <option value="sales" selected="true">销量</option>
                {{ else }}
                <option value="sales">销量</option>
                {{ end }}

                {{ if eq .sort "price"}}
                <option value="price" selected="true" >价格： 由低到高</option>
                {{ else }}
                <option value="price">价格： 由低到高</option>
                {{ end }}

                {{ if eq .sort "-price"}}
                <option value="-price" selected="true" >价格： 由高到低</option>
                {{ else }}
                <option value="-price">价格： 由高到低</option>
                {{ end }}

                {{ if eq .sort "reviews"}}
                <option value="reviews" selected="true">用户评论</option>
                {{ else }}
                <option value="reviews">用户评论</option>
                {{ end }}
                
                {{ if eq .sort "pubdate"}}
                <option value="pubdate" selected="true" >出版日期</option>
                {{ else }}
                <option value="pubdate">出版日期</option>
                {{ end }}
            </select>
        </form>
    </div>
    <ul>
        <li><a href="#results-dangdang" onfocus="this.blur()">当当</a></li>
        <li><a href="#results-360buy" onfocus="this.blur()">京东</a></li>
        <li><a href="#results-amazon" onfocus="this.blur()">亚马逊</a></li>
    </ul>
    <div id="loading-wrapper" class="hide">
        <div class="loading-img-wrapper">
            <img src="{{ g `STATIC_ROOT`}}img/loading_400.gif" />
        </div>
    </div>

    <div id="results-360buy"></div>
    <div id="results-dangdang"></div>
    <div id="results-amazon"></div>

    <div id="search-error-wrapper" class="hide">
        <div>
            <p class="text-panel">搜索出错了...</p>
        </div>
    </div>
</div>
</div>
</div>

{{ end }}

{{ define "scripts" }}
<script type="text/javascript">
$('#site-tabs').tabs();
$('#site-tabs').removeClass('hide');
  
var keyword = $('#keyword').val();
var pages = {
    "dangdang": 1,
    "360buy": 1,
    "amazon": 1
};
  
var loading_wrapper_html = $('#loading-wrapper').html();
var search_error_html = $('#search-error-wrapper').html();

function searchSite(site, page, searchUrl) {
    var url = '{{ g `SITE_ROOT` }}asearch';
    var site_tab = $('#results-' + site);
    var data = {
        'keyword': keyword,
        'site': site,
        'sort': "{{ .sort }}"
    };
    if (page) {
        data.page = page;
    }
    if (searchUrl) {
        data.url = searchUrl;
    }
    data.totalPages = $('#results-' + site + ' span.page-info').attr("total");
    site_tab.html(loading_wrapper_html);
    $.ajax({
        url: url,
        type: 'POST',
        cache: 'false',
        // beforeSend: prepareCSRFToken,
        data: data,
        success: function(data) {
            site_tab.html(data);
            add_listeners(site);
            if (page) {
                pages[site] = page;
            }
        },
        error: function(data, textStatus, jqXHR) {
            site_tab.html(search_error_html);
        }
    });
}

searchSite("dangdang");
searchSite("360buy");
searchSite("amazon");

function add_listeners(site) {
    var selector;
    selector = '#results-' + site + ' button.page-prev';
    var prev_btn = $(selector);
    if (prev_btn.attr("disabled") != "disabled") {
        prev_btn.click(function() {
            searchSite(site, pages[site] - 1, prev_btn.attr("data"));
        });
    }

    selector = '#results-' + site + ' button.page-next';
    var next_btn = $(selector);
    if (next_btn.attr("disabled") != "disabled") {
        next_btn.click(function() {
            searchSite(site, pages[site] + 1, next_btn.attr("data"));
        });
    }
}

</script>
{{ end }}
