{{ define "left-panel" }}{{ end }}
{{ define "right-panel" }}{{ end }}
{{ define "scripts" }} {{ end }}

{{ define "styles" }}
<link rel="stylesheet" type="text/css" href="{{ g `STATIC_ROOT` }}css/test.css" />
{{ end }}

{{ define "center-panel" }}
<h1>This is just a test</h1>
<div id="div1"><p>div1</p></div>
<div id="div2"><p>div2</p></div>
<div id="div3"><p>div3</p></div>
{{ end }}
